
h2{
    color: rgb(196, 198, 221);
}
button{
    background-color: rgb(7, 138, 72);
}
p4{
    color: rgb(196, 198, 221);
}
body{
    background-color: rgb(7, 7, 105);
}
h1{
 color: rgb(223, 202, 176);   
}
h3{
    color: brown;
}
a{
    color: brown;
}
